<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.llmtest.mapper.TestScoreMapper">

    <!-- 批量插入测试指标与分数 -->
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO test_score (test_id, dimension, metric_id
        <if test="list[0].subMetricId != null">
            , sub_metric_id
        </if>
        , single_score)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.testId}, #{item.dimension}, #{item.metricId}
            <if test="item.subMetricId != null">
                , #{item.subMetricId}
            </if>
            , #{item.singleScore})
        </foreach>
    </insert>

</mapper>